{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    <title>Sign in</title>
{% endblock %}

{% block body %}
    <div class="container2">
        <div class="row justify-content-md-center">
            <div class="col-4 border rounded" style="margin-top: 5%;">
                <form action="{% url 'Logeando' %}" method="POST">
                    {% csrf_token %}

                    <img class="rounded mx-auto d-block" src="{% static 'img/signin/user-signin.png' %}" alt="" width="100" style="margin-top: 20px; margin-bottom: 20px;">

                    <div class="mb-3">
                        <label for="usuario" class="form-label">Usuario</label>
                        <input type="text" class="form-control" id="usuario" name="usuario" placeholder="Ingrese usuario">
                    </div>
                    <div class="mb-3">
                        <label for="clave" class="form-label">Clave</label>
                        <input type="password" class="form-control" id="clave" name="clave" placeholder="Ingrese clave">
                    </div>
                    <a class="nav-link text-success" href="{% url 'SignUp' %}">Registrarse</a>
                    <div class="mb-3" style="margin-top: 10px;">
                        <button type="submit" class="btn btn-success" style="width: 100%;">Sign In</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
{% endblock %}